// home.scss

.section1 {
    @include flex-row-space-between ();
    align-items: last baseline;
    flex-wrap: wrap;
}

.title-home {
    color: $secondary-color;
    font-size: $font-size-m;
    font-weight: $font-weight-heavy;
    margin-top: 80px;
    
}

.heading-home {
    color: $primary-color;
    font-size: $font-size-xl;
    font-weight: $font-weight-heavy;
    line-height: $line-heigt-xl;
}

.purple{
 color: $secondary-color;
}

.statement-home {
    color: $primary-color;
    font-size: $font-size-s;
    font-style: italic;
    font-weight: $font-weight-medium;
    opacity: $opacity-medium;
    
}

.gallery {
    display: flex;
    flex-direction: row; 
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column1, .column2, .column3 {
    width: 355px;
    margin: 0px 5px 0px 5px;
    overflow: hidden;
}

.column1{
    margin-left: 0;

}

.gallery img {
    padding: 10px;  
}

.image-logo{
    padding: 0px;
}

.section2{
    @include flex-row-space-between ();
    align-items: baseline;
    margin-top: 90px;
    margin-bottom: 90px;
    max-width: 1110px;
    flex-wrap: wrap;
}

.heading-work{
    color: $primary-color;
    font-size: $font-size-l;
    font-weight: $font-weight-heavy;
    line-height: $line-heigt-m;
}

.typeswork {
    display: flex;
    flex-direction: column;
    font-size: $font-size-s;
    font-weight: $font-weight-medium;
    opacity: $opacity-medium;
    padding: 10px;
}

hr {
    color:#D8D8D8;
    width: 100%
}

.section-awards {
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: (4, 1fr);
    gap: 5px;
}

.item1{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: $font-primary;
    color: $primary-color;
    font-size: $font-size-m;
    font-weight: $font-weight-heavy;  
    width: 252px;
}

.item2{
    grid-column: 3/4;
    grid-row: 1/2 ;
}

.item3{
    grid-column: 3/4;
    grid-row: 3/4 ;
}

.item4{
    grid-column: 4/5 ;
    grid-row: 1/2 ;
}

.item5{
    grid-column: 4/5 ;
    grid-row: 2/3;
}

.item6{
    grid-column: 4/5;
    grid-row: 3/4;
}

.item7{
    grid-column: 4/5;
    grid-row: 4/5;
}

.item8{
    grid-column: 5/6;
    grid-row: 1/2 ;
}

.item9{
    grid-column: 5/6 ;
    grid-row: 3/4 ;
}

.section-table {
    @include flex-row-space-between ();
    align-items: flex-end;
}