// variables.scss

$font-primary:'Mulish', sans-serif;
$primary-color: #111111;
$secondary-color: #4A4FF2;


$font-weight-heavy: 700;
$font-weight-medium: 400;

$font-size-xl: 40px;
$font-size-l: 28px;
$font-size-m: 22px;
$font-size-s: 18px;
$font-size-xs: 16px;

$line-heigt-xl: 60px;
$line-heigt-l: 55px;
$line-heigt-m: 38px;
$line-heigt-s: 26px;

$opacity-dark: 0.80;
$opacity-medium: 0.60;
$opacity-light: 0.50;