@import "variables", "mixins", "home", "projects", "contact";

body {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $font-primary;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 70rem;
  margin: 3rem;
}

footer {
  margin-bottom: 2rem;
}

nav {
  @include flex-row-space-between();
  align-items: center;
  margin-top: 2rem;
  max-width: 100%;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  align-items: baseline;
  flex-wrap: wrap;
}

li {
  color: $primary-color;
  font-size: $font-size-s;
  font-weight: $font-weight-heavy;
  padding-left: 1rem;
}

a {
  color: $secondary-color;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(16, 205, 242);
}

li a:active,
li a:focus {
  color: rgb(16, 205, 242);
}

li a.active {
  color: rgb(16, 205, 242);
}

i {
  font-size: medium;
  cursor: pointer;
}

i:hover {
  color: rgb(16, 205, 242);
}

@media (max-width: 320px) {
    li {
        font-size: 1rem; 
        padding: 0.3rem;
    }
  }