@import 'variables', 'mixins', 'home', 'projects', 'contact';

body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    font-family: $font-primary;
}

nav {
    @include flex-row-space-between ();
    align-items: center;
    margin-top: 20px;
}

.container {
    margin: 100px;
    width: 1110px;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

li {
    margin-left: 15px;
    color: $primary-color;
    font-size: $font-size-s;
    font-weight: $font-weight-heavy;
  }

a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $secondary-color;
}

a.active {
    color: $secondary-color;
    text-decoration: none;
}
