.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;
  flex-wrap: wrap;
}

.title-home {
  color: #4A4FF2;
  font-size: 22px;
  font-weight: 700;
  margin-top: 80px;
}

.heading-home {
  color: #111111;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.purple {
  color: #4A4FF2;
}

.statement-home {
  color: #111111;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  opacity: 0.6;
}

.gallery {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column1, .column2, .column3 {
  width: 355px;
  margin: 0px 5px 0px 5px;
  overflow: hidden;
}

.column1 {
  margin-left: 0;
}

.gallery img {
  padding: 10px;
}

.image-logo {
  padding: 0px;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 90px;
  margin-bottom: 90px;
  max-width: 1110px;
  flex-wrap: wrap;
}

.heading-work {
  color: #111111;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}

.typeswork {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6;
  padding: 10px;
}

hr {
  color: #D8D8D8;
  width: 100%;
}

.section-awards {
  display: grid;
  grid-template-columns: repeat 5, 1fr;
  grid-template-rows: 4, 1fr;
  gap: 5px;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 22px;
  font-weight: 700;
  width: 252px;
}

.item2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.item3 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.item4 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.item5 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.item6 {
  grid-column: 4/5;
  grid-row: 3/4;
}

.item7 {
  grid-column: 4/5;
  grid-row: 4/5;
}

.item8 {
  grid-column: 5/6;
  grid-row: 1/2;
}

.item9 {
  grid-column: 5/6;
  grid-row: 3/4;
}

.section-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.section-table {
  margin-top: 4rem;
  flex-wrap: wrap;
}

.wrapper-table {
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
}

.paragraph1-projects {
  max-width: 635px;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 400;
  line-height: 26px;
  flex-wrap: wrap;
}

.paragraph2-projects {
  font-size: 16px;
  opacity: 0.8;
  font-weight: 400;
  line-height: 26px;
  flex-wrap: wrap;
}

td {
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding: 10px;
}

#womanWalking {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.three-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.three-images img {
  margin: 0.5rem;
}

.section-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-bottom: 6rem;
  justify-content: space-around;
}

.header-contact {
  flex-wrap: wrap;
  margin-bottom: 3rem;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 400;
  line-height: 26px;
  max-width: 350px;
}

.divider {
  width: 340px;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

input, label {
  font-size: 16px;
  opacity: 0.8;
  font-weight: 400;
  line-height: 26px;
}

label {
  font-weight: bold;
  color: #111111;
}

input {
  border-radius: 6px;
  border: 1px solid rgb(175, 173, 173);
  width: 400px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

button {
  margin-top: 1rem;
  width: 125px;
  height: 50px;
  background-color: #4A4FF2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Mulish", sans-serif;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1110px;
  margin: 3rem;
}

footer {
  margin-bottom: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  max-width: 100%;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  align-items: baseline;
  flex-wrap: wrap;
}

li {
  color: #111111;
  font-size: 18px;
  font-weight: 700;
  padding-left: 1rem;
}

a {
  color: #4A4FF2;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(16, 205, 242);
}

li a:active,
li a:focus {
  color: rgb(16, 205, 242);
}

li a.active {
  color: rgb(16, 205, 242);
}

i {
  font-size: medium;
  cursor: pointer;
}

i:hover {
  color: rgb(16, 205, 242);
}/*# sourceMappingURL=style.css.map */